.script-font, 
#scoreDisp, 
#opt1-desc, 
#opt2-desc, 
#opt3-desc, 
#p1score, 
#p2score{
  font-family: 'Chonburi', cursive;
  text-align: center;
  color: white;
}

/*pretty background*/
body { 
  background: url('images/bg.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color:rgba(0, 0, 0, 0.5);
}

/*this is to make the buttons vertically centered*/
.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

/*this is for vertically centering buttons on small screens*/
@media (max-width: 768px) {
  .vertical-center:before {
    height: auto;
    /* Or */
    display: none;
  }
  #opt1, #opt2, #opt3 {
    text-align: center;
  }
}

/*sizing plus making the font easier to read*/
#opt1-desc, #opt2-desc, #opt3-desc {
  margin-top:75%;
  font-size: 22px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/*making images responsive stuff*/
#opt1, #opt2, #opt3 {
  background-size: 100%;
  max-width: 33%;
  min-height: 250px;
  height:auto;
  border: solid 3px white;
}

/*#score1,
#score2 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}*/

.scoreBox {
    background-color: rgba(255, 255, 255, 0.5);
}

#scoreDisp {
  margin-top: 20px;
}

#images-row {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
